<a href="https://colab.research.google.com/github/MateoBorrero/python/blob/main/Fundamentos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Fundamentos de programacion - Python

In [ ]:
x = 15
y = 42
z = (x + y)

print("Querido profesor, el resultado es: ", z)

Querido profesor, el resultado es:  57

Comentario

In [ ]:
# Comentarios con una sola línea de código

"""Esto es un comentario 
de varias líneas 
de código para que
no se nos olvide 
qué estamos haciendo"""

Palabra reservada print()

In [ ]:
# Imprimir en pantalla

print("Este es nuestro primer programa en")
print('*************PYTHON***************')

Este es nuestro primer programa en
*************PYTHON***************

Tipos de Datos

In [ ]:
x = 15    #Entero = int
y = 42.5  #Flotante = float
z = (x + y)
a = f'El resultado es: {z}' #string = str

print(a)
print('******************Palabra reservada type()******************')

print("Tipo de dato x", x, ":", type(x))
print("Tipo de dato y", y, ":", type(y))
print("Tipo de dato a", a, ":", type(a))
print("Tipo de dato z", z, ":", type(z))

print("******************Más facilito*******************")
print(f'Tipo de dato x {x} : {type(x)}')
print(f'Tipo de dato y {y} : {type(y)}')
print(f'Tipo de dato z {z} : {type(z)}')
print(f'Tipo de dato a {a} : {type(a)}')

#Tipo de datos cadena = string

nom_aprendiz = "Mateo"
ape_aprendiz = "Borrero"
correo_electronico = "mateduardobz@gmail.com"
print(f"El aprendiz se llama {nom_aprendiz} {ape_aprendiz} y su email es {correo_electronico}")

#Tipo de datos booleanos

estado = True
estado_falso = False
print(f"Tipo de dato estado {estado} : {type(estado)}")
print(f"Tipo de dato estado_falso {estado} : {type(estado_falso)}")

El resultado es: 57.5
******************Palabra reservada type()******************
Tipo de dato x 15 : <class 'int'>
Tipo de dato y 42.5 : <class 'float'>
Tipo de dato a El resultado es: 57.5 : <class 'str'>
Tipo de dato z 57.5 : <class 'float'>
******************Más facilito*******************
Tipo de dato x 15 : <class 'int'>
Tipo de dato y 42.5 : <class 'float'>
Tipo de dato z 57.5 : <class 'float'>
Tipo de dato a El resultado es: 57.5 : <class 'str'>
El aprendiz se llama Mateo Borrero y su email es mateduardobz@gmail.com
Tipo de dato estado True : <class 'bool'>
Tipo de dato estado_falso True : <class 'bool'>

Ejercicios Prácticos:

Temas: Input(), print(), operaciones, int(), float(), str()

perimetroCuadrado

In [ ]:
"""Ejercicio 1: Realizar la carga del lado de un cuadrado, mostrar por pantalla el perímetro del mismo 
(El perímetro de un cuadrado se calcula multiplicando el valor del lado por cuatro)."""

#Entrada de datos
lados = float(input("Ingrese la medida de los lados del cuadrado: "))

#Operaciones
perimetro = (lados * 4)

#Salida
print(f"El perímetro del cuadrado cuyos lados miden {lados} es: {perimetro}")

Ingrese la medida de los lados del cuadrado: 20
El perímetro del cuadrado cuyos lados miden 20.0 es: 80.0

suma_Y_Producto

In [ ]:
"""Ejercicio 2: Escribir un programa en el cual se ingresen cuatro números, calcular e informar 
la suma de los dos primeros y el producto del tercero y el cuarto."""

#Entrada de datos
num1 = float(input("Digite el primer número: "))
num2 = float(input("Digite el segundo número: "))
num3 = float(input("Digite el tercer número: "))
num4 = float(input("Digite el cuarto número: "))

#Operaciones
suma = (num1 + num2)
producto = (num3 * num4)

#Salida
print(f"La suma de {num1} y {num2} es: {suma}")
print(f"El producto de {num3} y {num4} es: {producto}")

Digite el primer número: 23.6
Digite el segundo número: 58.4
Digite el tercer número: 24
Digite el cuarto número: 3
La suma de 23.6 y 58.4 es: 82.0
El producto de 24.0 y 3.0 es: 72.0

sueldoOperarioBasico

In [ ]:
"""Ejercicio 3: Calcular el sueldo mensual de un operario conociendo la cantidad de horas 
trabajadas y el valor por hora. Variables enteras, flotantes y cadenas de caracteres"""

# Palabra reservada input()
# int() ó float() cuando capturamos un dato por teclado y que se requiera hacer operaciones aritméticas

#Entrada de datos
sueldo = float(input("Registre el valor de la hora del operario: "))
horas_trab = int(input("Registre las horas trabajadas: "))

#Operaciones
sueldoMen = (sueldo * horas_trab)

#Salida
print(f"El valor hora: {sueldo} * {horas_trab} horas trabajadas: {sueldoMen}")

Registre el valor de la hora del operario: 3000
Registre las horas trabajadas: 120
El valor hora: 3000.0 * 120 horas trabajadas: 360000.0

ordenNombres

In [ ]:
"""Ejercicio 4: Realizar la carga de cuatro nombres de personas distintos. Mostrar 
por pantalla luego ordenados en forma alfabética, descendente y ascendentemente."""

#Entrada de datos
nombre1 = input("Registre el nombre del primer usuario: ")
nombre2 = input("Registre el nombre del segundo usuario: ")
nombre3 = input("Registre el nombre del tercer usuario: ")
nombre4 = input("Registre el nombre del cuarto usuario: ")
nombre5 = input("Registre el nombre del quinto usuario: ")
nombre6 = input("Registre el nombre del sexto usuario: ")

#Operación de orden
nombres = [nombre1, nombre2, nombre3, nombre4, nombre5, nombre6]
nombres.sort()
nombresrev = sorted(nombres, reverse=True)

#Salida
print()
print(f"Nombres ordenados ascendentemente: {nombres}")
print(f"Nombres ordenados descendentemente: {nombresrev}")

print()
print("Nombres ordenados ascendentemente:")
for nombre in nombres:
  print(nombre)
  
print()
print("Nombres ordenados descendentemente:")
for nombre in nombresrev:
  print(nombre)

Registre el nombre del primer usuario: julio
Registre el nombre del segundo usuario: darvin
Registre el nombre del tercer usuario: marta
Registre el nombre del cuarto usuario: fredy
Registre el nombre del quinto usuario: daniel
Registre el nombre del sexto usuario: andrea

Nombres ordenados ascendentemente: ['andrea', 'daniel', 'darvin', 'fredy', 'julio', 'marta']
Nombres ordenados descendentemente: ['marta', 'julio', 'fredy', 'darvin', 'daniel', 'andrea']

Nombres ordenados ascendentemente:
andrea
daniel
darvin
fredy
julio
marta

Nombres ordenados descendentemente:
marta
julio
fredy
darvin
daniel
andrea

nombreEdadAltura

In [ ]:
"""Ejercicio 5: Realizar la carga por teclado del nombre, edad y altura de dos 
personas. Mostrar por pantalla el nombre de la persona con mayor altura."""

#Entrada de datos
nombre1 = input("Registre el nombre del primer usuario: ")
edad1 = int(input(f"Digite la edad de {nombre1}: "))
altura1 = float(input(f"Ingrese la altura de {nombre1}: "))
nombre2 = input("Registre el nombre del segundo usuario: ")
edad2 = int(input(f"Digite la edad de {nombre2}: "))
altura2 = float(input(f"Ingrese la altura de {nombre2}: "))

#Operación y salida
if altura1 > altura2 :
  print(f"La persona con mayor altura es: {nombre1}")
else:
  print(f"La persona con mayor altura es: {nombre2}")

Registre el nombre del primer usuario: Paula
Digite la edad de Paula: 23
Ingrese la altura de Paula: 1.63
Registre el nombre del segundo usuario: Lorena
Digite la edad de Lorena: 27
Ingrese la altura de Lorena: 1.68
La persona con mayor altura es: Lorena

nombresTamanio

In [ ]:
"""Ejercicio 6: Realizar la carga de dos nombres por teclado. Mostrar cual de 
los dos es mayor alfabéticamente o si son iguales."""

#Entrada de datos
nombre1 = input("Registre un nombre: ")
total1 = len(nombre1)
nombre2 = input("Registre otro nombre: ")
total2 = len(nombre2)

#Operación y salida
if total1 == total2 :
  print(f"Los nombres son iguales alfabéticamente")
else:
  if total1>total2 :
    print(f"El nombre mayor alfabéticamente es: {nombre1}")
  else:
    print(f"El nombre mayor alfabéticamente es: {nombre2}")

Registre un nombre: Juan
Registre otro nombre: Manuel
El nombre mayor alfabéticamente es: Manuel

In [ ]:
"""Escribí un programa que solicite al usuario dos números y los almacene en dos variables. En otra variable, almacená el resultado de la suma de 
esos dos números y luego mostrá ese resultado en pantalla.
A continuación, el programa debe solicitar al usuario que ingrese un tercer número, el cual se debe almacenar en una nueva variable. Por último, 
mostrá en pantalla el resultado de la multiplicación de este nuevo número por el resultado de la suma anterior."""

In [4]:
num1 = float(input("Inserta un número: "))
num2 = float(input("Inserta otro número: "))
resultado = (num1 + num2)

print(f"El resultado de la suma es: {resultado}")

num3 = float(input("Inserta un tercer número: "))
resultado_mul = (resultado * num3)
print(f"El resultado de la multiplicación es {resultado_mul} ")

Inserta un número: 2
Inserta otro número: 3
El resultado de la suma es: 5.0
Inserta un tercer número: 10
El resultado de la multiplicación es 50.0